* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #1c262f;
}
html,
body {
  overflow-x: hidden;
}

/* .animate-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.animate-section.show {
  opacity: 1;
  transform: translateY(0);
} */
/* NAVBAR */

.custom-navbar {
  background: transparent;
  /* padding: 25px 0; */
  padding: 20px 8px 0px;
  transition: all 0.2s ease;
  z-index: 9999;
}

.custom-navbar.scrolled {
  background: #1c262f;
  padding: 1px 0;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
}

.nav-link {
  color: white !important;
  margin-left: 6px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 12px;
}

.nav-link:hover {
  color: #00e58b !important;
}

/* Drondown */
.dropdown-menu {
  background-color: #1c262f;
}
.dropdown-item {
  color: white;
  font-family: Poppins, sans-serif;
}
.dropdown-item:hover {
  background-color: transparent;
  color: #00e58b !important;
}

.social-icon {
  width: 25px;
  height: 25px;
  background: #00e58b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

/* HERO */

.hero {
  min-height: 100vh;

  background-image: url("https://themewagon.github.io/mirko/assets/images/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* Parallax Effect */
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
}

/* Best fix */
.slide-left,
.card-animate,
.image-top-slide {
  opacity: 0;
}

/* Active hone par animation chalegi */

/* // left side animation */
/* .slide-left {
  animation: slideLeft 1s ease forwards;
} */

.slide-left.show {
  animation: slideLeft 1s ease forwards;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background: #65686f;
  opacity: 0.1;
}

.hero-content {
  position: relative;
  z-index: 2;
  margin-top: 35px !important;
}

.hero-title {
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.5rem;
  /* margin-bottom: 25px; */
  margin: 0px 0px 8px;
}

.hero-title span {
  color: #00e58b;
}

.hero-text {
  width: 520px;
  color: #ddd;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 30px;
  font-style: normal;
  font-kerning: auto;
}

/* Feature section */
.feature-item {
  color: white;
  margin-bottom: 24px !important;
  display: flex;
  gap: 15px;
  padding-left: 10px;
  align-items: center;
  font-size: 16px;
}

.feature-item span {
  margin-top: 10px;
}

.feature-item i {
  color: #00e58b;
  font-size: 1.3rem;
}

/* Card animation */
/* .card-animate {
  opacity: 0;
  animation: scaleIn 0.8s ease forwards;
} */

.card-animate.show {
  animation: scaleIn 0.8s ease forwards;
}

.card-1 {
  animation-delay: 0.2s;
}

.card-2 {
  animation-delay: 0.2s;
}

.card-3 {
  animation-delay: 0.2s;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btn-plan {
  border: 2px solid #00e58b;
  margin: 16px 0px;
  color: white;
  padding: 10px 30px;
  border-radius: 0;
  margin-top: 20px;
  border-width: 2px;
  border-image-slice: 1;
  box-shadow: 4.5px 4.5px 0px #0ee951;
  font-width: 400;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.5;
}

.btn-plan:hover {
  /* background: #00e58b; */
  box-shadow: none;
  border: 2px solid #00e58b;
  color: white;
}

/* Mobile */

@media (max-width: 991px) {
  .navbar-collapse {
    background: #102131;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .hero-title {
    font-size: 3rem;
  }
}

/* =========================
   FEATURES
========================= */

.features-section {
  margin-top: 0;
}

.feature-card {
  /* min-height: 320px;  */
  min-height: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.dark-card {
  background: #1c262f;
  color: #b6babd;
}

.center-card {
  background: #212d37;
  color: #b6babd;
}

.light-card {
  background: #f5f5f5;
  color: #6d7072;
}

.feature-card i {
  font-size: 3rem;
  color: #00e58b;
  margin-bottom: 8px;
}
.icon-box {
  width: 70px;
  height: 52px;
  overflow: hidden;
  margin: 0 auto 20px;
}

.service-icon {
  font-size: 3.5rem; /* fa-3x ke barabar */
  color: #00e58b;
  transform: translateY(12px);
}

.feature-card h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #f8f9fa;
}

.feature-card p {
  margin-top: 9px;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
}

/* about-section */

.about-section {
  background: #212d37;
  padding: 120px 0;
  overflow: hidden;
}

.about-tag {
  color: #fff;
  font-size: 16px;
  /* letter-spacing: 2px; */
  display: block;
  font-weight: 400;
  line-height: 24px;
  /* margin-bottom: 7px; */
}

.about-title {
  font-family: Poppins, sans-serif;
  color: #fff;
  white-space: nowrap;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 17px;
}

.about-text {
  color: #bfc5cc;
  font-size: 1rem;
  line-height: 24px;
  font-width: 400;
  white-space: nowrap;
  margin-bottom: 17 px;
}

.about-btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 2px solid #00e58b;
  padding: 10px 30px;
  position: relative;
  /* transition: 0.4s; */
  box-shadow: 4.5px 4.5px 0px #0ee951;
}

/* Green shadow effect */
/* .about-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00e58b;
  left: 8px;
  top: 8px;
  z-index: -1;
} */

.about-btn:hover {
  /* background: #00e58b; */
  box-shadow: none;
  color: #fff;
}

.circle-image-wrapper {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
}

/* image-top-slide */

/* .image-top-slide {
  animation: imgTopSlide 1s ease forwards;
} */

.image-top-slide.show {
  animation: imgTopSlide 1s ease forwards;
}
@keyframes imgTopSlide {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Floating Dots */

.dot {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  animation: float 4s ease-in-out infinite;
}

.dot1 {
  width: 30px;
  height: 30px;
  top: 10%;
  left: 15%;
}

.dot2 {
  width: 18px;
  height: 18px;
  top: 25%;
  left: 10%;
}

.dot3 {
  width: 22px;
  height: 22px;
  bottom: 15%;
  left: 15%;
}

.dot4 {
  width: 40px;
  height: 40px;
  bottom: 20%;
  right: 5%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media (max-width: 992px) {
  .about-title {
    font-size: 3rem;
  }

  .circle-image-wrapper {
    width: 350px;
    height: 350px;
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .about-title {
    font-size: 2.3rem;
  }

  .circle-image-wrapper {
    width: 280px;
    height: 280px;
  }
}
/* =========================
   SERVICES SECTION
========================= */

.services-section {
  background: #1c262f;
  padding: 25px 0 24px;
}

/* .services-header {
  margin-bottom: 60px;
} */

.section-tag {
  color: #f8f9fa;
  font-size: 16px;
  display: block;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.section-title-service {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38.4px;
  margin: 0px 0px 8px;
  padding: 8px 0;
}

.service-card {
  border: 2px solid #f8f9fa;
  padding: 19px 19px 4px 19px;
  min-height: 222px;
  transition: 0.1s;
}

/* .services-section .mobile {
  white-space: nowrap;
} */

.service-card:hover {
  transform: translateY(-10px);
  /* transform: scale(1.15); */
  box-shadow: 4.5px 4.5px 0px #0ee951;
  border-color: #00e58b;
}

.service-card i {
  color: #00e58b;
  font-size: 1.9rem;
  padding: 15px 0;
  display: block;
  /* transition: 0.4s; */
}

/* .service-card i .home{
    height: 30px !important;
    width: 40px;
  } */
.service-card h3 {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  padding: 8px 0 0 0;
  /* padding-bottom: 0px; */
}

.service-card p {
  color: #b3b7ba;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  /* margin: 0; */
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }

  .service-card {
    min-height: auto;
  }

  .service-card h3 {
    font-size: 1.5rem;
  }
}

/* =========================
   PLANS SECTION
========================= */

.plans-section {
  background: #212d37;
  padding: 30px 0 24px;
}

.plans-header {
  margin-bottom: 25px;
}

.plans-header .section-tag {
  color: #f8f9fa;
  font-size: 16px;
  display: block;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.plans-header h2 {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38.4px;
  margin: 0px 0px 8px;
  padding: 8px 0;
}

.plans-header p {
  color: #bfc5cc;
  /* min-width: 1300px; */
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.plan-card {
  border: 2px solid #f8f9fa;
  padding: 20px 24px;
  max-height: 498px;
  max-width: 356px;
  border-radius: 5px;
}

.plan-card h3 {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  /* padding: 8px 0 0 0; */
  padding: 16px 0;
}

.plan-desc {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 0;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.05rem;
}

.plan-features i {
  color: #00e58b;
  margin-right: 10px;
}

.price {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  /* padding: 8px 0 0 0; */
  /* padding: 16px; */
  margin: 30px 0;
}

.plan-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #00e58b;
  padding: 10px 30px;
  position: relative;
  /* transition: 0.4s; */
  box-shadow: 4.5px 4.5px 0px #0ee951;
  margin-bottom: 15px;
}

.plan-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #00e58b; */
  top: 8px;
  left: 8px;
  z-index: -1;
}

.plan-btn:hover {
  /* background: #00e58b; */
  color: #fff;
  box-shadow: none;
}

@media (max-width: 768px) {
  .plan-card h3 {
    font-size: 1.6rem;
  }

  .price {
    font-size: 1.8rem;
  }
}

/* =========================
   iPad Responsive
========================= */

@media (min-width: 768px) and (max-width: 1024px) {
  .plans-section {
    padding: 80px 0;
  }

  .plans-header {
    margin-bottom: 40px;
  }

  .plan-card {
    padding: 30px 20px;
  }

  .plan-card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .plan-desc {
    font-size: 0.95rem;
    margin-bottom: 25px;
  }

  .plan-features li {
    font-size: 0.95rem;
    margin-bottom: 15px;
  }

  .price {
    font-size: 1.8rem;
    margin: 25px 0;
  }

  .plan-btn {
    padding: 12px 25px;
    font-size: 0.95rem;
  }
}
/* =========================
   WORK SECTION
========================= */

.work-section {
  background: #1c262f;
  padding: 68px 0 48px 0;
}

.work-image img {
  max-width: 614px;
  min-height: 410px;
  object-fit: cover;
  margin-bottom: 60px;
}

.work-content {
  padding: 0px 15px 100px 15px;
}

.work-text {
  color: #bfc5cc;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  /* margin-bottom: 30px; */
}

.counter-box {
  /* margin-top: 10px; */
  padding: 15px 15px 15px 8px;
}

.counter-box i {
  color: #00e58b;
  font-size: 1.9rem;
  /* padding: 15px 0; */
  display: block;
  /* transition: 0.4s; */
  margin-bottom: 10px;
}

.counter-box h3 {
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38.4px;
  /* margin-bottom: 100px; */
}

.counter-box p {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

@media (max-width: 992px) {
  .work-content {
    padding: 50px 20px 0;
  }

  .work-image img {
    height: auto;
  }

  .counter-box h3 {
    font-size: 2.3rem;
  }
}

/* testimonial-section    */
.testimonial-section {
  background: #1c262f;
  padding: 68px 0 48px 0;
  height: auto;
}

.section-subtitle {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.section-title {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38.4px;
  margin: 0px 0px 8px;
  padding: 6px 0;
}

.section-desc {
  color: #bfc5cc;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.testimonial-card {
  border: 3px solid #63f28f;
  padding: 24px;
  min-height: 257px;
  max-width: 291px !important;
  background: transparent;
  /* margin: 0px 50px !important; */
  /* margin: 0px; */
  margin-left: 80px;
  /* margin-right: 30px; */
}

.testimonial-card p {
  color: #f8f9fa;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  /* text-align: start; */
  /* margin-bottom: 30px; */
}

.client {
  display: flex;
  align-items: center;
  gap: 15px;
  /* padding-top: 24px; */
}

.client img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.client h5 {
  color: #fff;
  margin: 0;
}

.client span {
  color: #d0d0d0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 992px) {
  .section-title {
    font-size: 42px;
  }

  .testimonial-card {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 34px;
  }

  .testimonial-card p {
    font-size: 18px;
  }
}

/* =========================
   NEWSLETTER SECTION
========================= */

.newsletter-section {
  background: #212d37;
  padding: 48px 0;
  margin-top: 80px;
}

.newsletter-title {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  /* margin-bottom: 15px; */
}

.newsletter-text {
  color: #b7bcbf;
  line-height: 1;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-input {
  width: 100%;
  max-width: 412px;
  /* height: 55px; */
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1rem;
}

.newsletter-btn {
  font-family: sans-serif;
  height: 55px;
  padding: 8px 30px;
  border: 2px solid #00e58b;
  background: transparent;
  color: #fff;
  margin-left: -2px;
  transition: 0.4s;
}

.newsletter-btn:hover {
  background: #00e58b;
}
@media (max-width: 991px) {
  .newsletter-form {
    margin-top: 30px;
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .newsletter-form {
    flex-direction: column;
    gap: 15px;
  }

  .newsletter-input {
    max-width: 100%;
  }

  .newsletter-btn {
    width: 100%;
    margin-left: 0;
  }
}

/* contact-section */

/* =========================
   CONTACT SECTION
========================= */

.contact-section {
  background: #1c262f;
  padding: 48px 0;
}

.contact-tag {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  display: block;
  /* margin-bottom: 15px; */
}

.contact-title {
  font-family: Poppins, sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 38.4px;
  padding: 8px 0px;
  margin-bottom: 8px;
}
.left-content-padding {
  padding: 0px 48px 48px 48px;
}

.contact-text {
  color: #c7c7c7;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}

/* Inputs */

.custom-input {
  font-size: 1rem;
  font-weight: 400;
  color: #97999b;
  height: 50px;
  border: none;
  border-radius: 4px;
  background: #ffffff;
  padding: 0 25px;
  margin-bottom: 12px;
}

textarea.custom-input {
  height: 170px;
  padding: 20px;

  /* resize: none; */
}

.custom-input:focus {
  box-shadow: none;
  border: none;
}

/* Button */

.contact-btn {
  background: transparent;
  position: relative;
  /* transition: 0.4s; */
  border: 2px solid #00e58b;
  color: white;
  padding: 10px 30px;
  border-radius: 0;
  border-width: 2px;
  border-image-slice: 1;
  box-shadow: 4.5px 4.5px 0px #0ee951;
  font-width: 400;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.5;
}

.contact-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  /* background: #00e58b; */
  z-index: -1;
}

.contact-btn:hover {
  box-shadow: none;
}

/* Image */

.contact-img {
  max-width: 608px;
  height: auto;
  margin-bottom: 48px;
}

.right-img {
  padding: 0px 12px;
}
/* .contact-btn::after {
  left: 8px;
  top: 8px;
} */
@media (max-width: 992px) {
  .contact-title {
    font-size: 2.8rem;
  }

  .contact-img {
    height: auto;
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .contact-title {
    font-size: 2.2rem;
  }
}

/* Footer section */
/* =========================
   FOOTER TOP
========================= */

.footer-top {
  background: #212d37;
  padding: 70px 0;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-box i {
  color: #00e58b;
  font-size: 3rem;
}

.info-box h5 {
  color: #fff;
  margin-bottom: 8px;
  font-size: 1rem;
}

.info-box p {
  color: #d1d5db;
  margin: 0;
}

/* =========================
   MAIN FOOTER
========================= */

.main-footer {
  background: #1c262f;
  padding: 48px 0;
}

.footer-logo {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  font-stretch: 100%;
  margin-bottom: 20px;
}

.main-footer p {
  color: #c7c7c7;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.main-footer h3 {
  font-family: Poppins, sans-serif;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  font-stretch: 100%;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a i {
  margin-right: 16px;
}

.footer-links a:hover {
  color: #00e58b;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 2rem;
  margin-right: 15px;
}

.footer-social a:hover {
  color: #00e58b;
}

/* Newsletter */

.footer-newsletter {
  display: flex;
  /* flex-wrap: wrap; */
}

.footer-newsletter input {
  max-width: 177px;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.footer-newsletter button {
  padding: 10px 30px;
  border: 2px solid #00e58b;
  background: transparent;
  color: #fff;
}

.footer-newsletter button:hover {
  background: #00e58b;
}

.footer-newsletter .icon {
  width: 80px !important;
}

/* =========================
   COPYRIGHT
========================= */

.copyright-section {
  background: #000000;
  padding: 8px 0;
}

.copyright-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 20px;
}

.copyright-wrapper p {
  color: #fff;
  margin: 0;
}
.copyright-wrapper p a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}
.copyright-wrapper p a:hover {
  color: rgb(15, 15, 240);
}
.payment-icons i {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 7px;
  /* gap: 2px; */
}

@media (max-width: 768px) {
  .copyright-wrapper {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .info-box {
    justify-content: center;
  }
}
